<input 
    [type]="off?'password':'text'"
    class="formInput"
    placeholder="password"
    (focusout)="onFocusOut()"
    (input)="onInput($event)"   
/>
<ng-container *ngIf="!off">
    <img src="../../../assets/imgs/login/visibility.png" class="eye" (click)="off = !off" >
</ng-container>
<ng-container *ngIf="off">
    <img src="../../../assets/imgs/login/visibility_off.png" class="eye" (click)="off = !off" >
</ng-container>

<ng-container >
    <span class="error" *ngIf="ngControl.hasError('required')&& touched">* this field is requared</span>
</ng-container>
<ng-container >
    <span class="error" *ngIf="length">* password min size is 8</span>
</ng-container> 
