
<div class="loader" *ngIf="$loader|async" class="loader">
    <app-loader ></app-loader>
</div>

 <section class="section">
    <div  class="login">
         <h1 class="login-title">Make learning fun!</h1>
         <p class="login-text">Any subject, in any language, on any device, for all ages!</p>

         <form [formGroup]="loginForm" (ngSubmit)="submit()" class="form">
            <input type="text" formControlName="username" class="formInput" placeholder="name">
            <ng-container *ngIf="getError(loginForm,'username','required')&& loginForm.get('username')?.touched">
                <span class="error">* this field is requared</span>
            </ng-container>
            <ng-container *ngIf="getError(loginForm,'username','minlength')">
                <span class="error">* user name min size is 5</span>
            </ng-container>
            <app-password-input
                [touched]="loginForm.get('password')?.touched"
                [length]="loginForm.get('password')?.hasError('minlength')"
                formControlName="password">
            </app-password-input>
            <button class="btn">login</button>
        
            <span class="error">{{($error|async)?.error}}</span>
        </form>
    </div>
    <div class="compositon">
       
    </div>
 </section>