<header class="header">
    <div class="logo-block">
        <div class="logo">
            <!-- <img src='../../../assets/imgs/login/Logo.png'> -->
        </div>
        <p>Kurtis Classrom</p>
    </div>
   
    <nav class="nav">
         <!-- <ul class="nav-bar">
            <li class="list">Home</li>
            <li class="list">About Us</li>
            <li class="list">Contact</li>
            <li class="list">Services</li>
        </ul> -->
        <button class="btn">Sign up</button>
    </nav>
</header>
