<div class="loader" *ngIf="isLoader$|async" class="loader">
    <app-loader ></app-loader>
</div>

<div class="profile">
    <h1 class="add">Add New Role</h1>
    <div class="title">
        <h3>Student Details</h3>
    </div>

    <div  class="form-block"> 
        <div class="msg-block">
            <p class="success" *ngIf="success">registration was successful</p> 
            <p class="error msg" *ngIf="errorMsg!==null">{{errorMsg}}</p>
        </div>
        
        <form [formGroup]="registerForm" (ngSubmit)="register()" class="register">
          
            <div class="block">
                <input type="text" formControlName="first_name" placeholder="first name" class="formInput">
                <ng-container *ngIf="getError(registerForm,'first_name','required')&& registerForm.get('first_name')?.touched">
                    <span class="error">* this field is requared</span>
                </ng-container>
                <div>
                    <app-password-input
                        [isProfile]="isProfile"
                        [touched]="registerForm.get('password1')?.touched"
                        [length]="registerForm.get('password1')?.hasError('minlength')"
                        formControlName="password1">
                    </app-password-input>
                </div>
                <app-password-input
                    [isProfile]="isProfile"
                    [touched]="registerForm.get('password2')?.touched"
                    [length]="registerForm.get('password2')?.hasError('minlength')"
                    formControlName="password2">
                </app-password-input>
                <div>
                    <button type="button" class="btn pass" (click)="createPassword()">random password</button>
                </div>
                
            </div>
  
            <div class="block">
                <input type="text" formControlName="last_name" placeholder="last name" class="formInput">
                <ng-container *ngIf="getError(registerForm,'last_name','required')&& registerForm.get('last_name')?.touched">
                    <span class="error">* this field is requared</span>
                </ng-container>
                <div>
                    <input type="email" formControlName="email" placeholder="email" class="formInput">
                    <ng-container *ngIf="getError(registerForm,'email','required')&& registerForm.get('email')?.touched">
                        <p class="error">* this field is requared</p>
                    </ng-container>

                    <ng-container *ngIf="getError(registerForm,'email','email')">
                        <p class="error">* emaill is not correct</p>
                    </ng-container>
                </div>
                <div>
                    <div>
                        <input type="text" formControlName="username" placeholder="username" class="formInput">
                    </div>
                    <ng-container *ngIf="getError(registerForm,'username','required')&& registerForm.get('username')?.touched">
                        <span class="error">* this field is requared</span>
                    </ng-container>
                </div>
            
                <select formControlName="status" class="formInput select"> 
                    <option *ngFor="let status of statuses">{{status}}</option>
                </select>
                <div>
                    <button class="btn wd">add</button>
                </div>
                
            </div>
        </form>
    </div>
</div>
