<input 
    #input
    class="formInput"
    [type]="off?'password':'text'"
    [ngClass]="{'profileInput':isProfile}"
    placeholder="password"
    (focusout)="onFocusOut()"
    (input)="onInput($event)"
 
/>
<ng-container *ngIf="!off">
    <img src="../../../assets/imgs/login/visibility.png" class="eye" [ngClass]="{'eyeProfile':isProfile}" (click)="off = !off" >
</ng-container>
<ng-container *ngIf="off">
    <img src="../../../assets/imgs/login/visibility_off.png" class="eye" [ngClass]="{'eyeProfile':isProfile}" (click)="off = !off" >
</ng-container>

<ng-container *ngIf="ngControl.hasError('required')&& touched">
    <p class="error" >* this field is requared</p>
</ng-container>
<ng-container *ngIf="length">
    <p class="error" >* password min size is 8</p>
</ng-container> 
