<div class="dashborad">
    <div class="profile">
        <!-- <div class="photo"> -->
           
            <img src="../../../assets/imgs/profile/Profile.png"  class="photo">
            <div class="text-block">
                <p class="name">first name -{{userProfile?.first_name}}</p>
                <p class="name">last name -{{userProfile?.last_name}}</p>
                <div class="email-block">
                    <img src='../../../assets/imgs/profile/Scraps.png' class="scraps">
                    <span class="name">{{userProfile?.email}}</span>
                </div>
            
            </div>
            
        <!-- </div> -->
      
    </div>
    <div class="update"></div>
</div>
