@import '../style/variabel.scss';

@mixin btn(){
    padding: 7px;
    outline: none;
    border: 1px solid transparent;;
    border-radius: 3px;
    background-color: transparent;
    background-color: $colorBlue;
    color: white;
    cursor: pointer;
    transition: 0.5s opacity;

    &:hover{
        opacity: 0.9;
    }
}

@mixin studentBtn($color,$bg){
    color: $color;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 800;
    width: 80px;
    height: 25px;
    border-radius: 22px;
    background: $bg;
    border: none;
    letter-spacing: 1px;
}