<div class="profile">
    <h1 class="add">Add New Role</h1>
    <div class="title">
        <h3>Student Details</h3>
    </div>

    <div  class="form-block"> 
        <div class="msg-block">
        </div>
        <form [formGroup]="newGroup" (ngSubmit)="createGroup()" class="register">
          
            <div class="block">
                <input type="text" formControlName="name" placeholder="name" class="formInput">
                <ng-container *ngIf="getError(newGroup,'name','required')&& newGroup.get('name')?.touched">
                    <span class="error">* this field is requared</span>
                </ng-container> 

                <input type="text" formControlName="course" placeholder="course" class="formInput">
                <ng-container *ngIf="getError(newGroup,'course','required')&& newGroup.get('course')?.touched">
                    <span class="error">* this field is requared</span>
                </ng-container>  
            </div>
  
            <div class="block">
             
                <div>
                    <input type="text" formControlName="module" placeholder="module" class="formInput">
                    <ng-container *ngIf="getError(newGroup,'module','required')&& newGroup.get('module')?.touched">
                        <p class="error">* this field is requared</p>
                    </ng-container>
                </div>
                
                <select formControlName="teacher" class="formInput select"> 
                    <option>select options</option>
                    <option *ngFor="let teacher of ($teachers|async)">
                     {{teacher.first_name}}   {{teacher.last_name}}
                    </option>
                </select>
                <div class="btn-block">
                    <button class="btn wd">add</button>
                </div>
                
            </div>
        </form>
    </div>
</div>

