@import '../../../style/variabel.scss';

.block{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid $colorBlue;

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color:$colorBlue;
        padding: 5px 10px;
        color: white;
        height: 50px;
        .logo{
            letter-spacing: 1px;
        }

        .nav{

            .nav-bar{
                display: flex;
                gap:20px;
                list-style: none;

                .list{
                    cursor: pointer;
                    transition: 0.3s all;

                    &:hover{
                        border-bottom: 1px solid;
                        opacity: 0.7;
                    }
                }
                
            }
        }
        
    }
}

.profile{
    margin-top: 50px;
    .form{
        display: flex;
        flex-direction: column;
        gap:8px;

        .formInput{
            padding: 7px;
            outline: none;
            border: 1px solid #808080b3;
            border-radius: 6px;
            transition: 0.5s all;
            width: 180px;
            &:hover{
                border: 1px solid rgba(100, 100, 111, 0.2);
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }
        }
    
        .select{
            width: 196px;

        }

        .btn{
            padding: 7px;
            outline: none;
            border: 1px solid transparent;;
            border-radius: 6px;
            background-color: transparent;
            margin-top: 10px;
            background-color: $colorBlue;
            color: white;
            cursor: pointer;
            transition: 0.5s opacity;
            width: 196px;

            &:hover{
                opacity: 0.9;
            }
        }

        .pass{
            margin-left: 10px;
            color:$colorBlue;
            border: 1px solid $colorBlue;
            background-color: white;
            width: 150px;
        }
    }

}