@import '../../../style/variabel.scss';

.profile{
    margin-top: 50px;

    .formInput{
        width: 180px;
    }

    .select{
        width: 196px;
    }

    .btn{
        width: 196px;
    }

    .pass{
        margin-left: 10px;
        color:$colorBlue;
        border: 1px solid $colorBlue;
        background-color: white;
        width: 150px;
    }

}