/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Vibur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Raleway&family=Vibur&display=swap');
@import './style/variabel.scss';
@import './style/mixins.scss';
@import './style/variabel.scss';

*{
    font-family: "Montserrat", sans-serif;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.loader{
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    z-index: 99;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.error{
    font-size: 12px;
    font-family: sans-serif;
    color: tomato;
}

.form{
    display: flex;
    flex-direction: column;
    gap:8px;


}


.formInput{
    padding: 7px;
    outline: none;
    border: 1px solid #808080b3;
    border-radius: 6px;
    transition: 0.5s all;
    font-weight: 800;
    &:hover{
        border: 1px solid rgba(100, 100, 111, 0.2);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
}

.btn{
    @include btn();
}

